{%extends "Roster/base.html"%}
{%load static%}

{%block content%}
<head>
    <link rel="stylesheet" href="{%static '/css/home.css'%}"  type="text/css"/>
</head>
    <div class = "introduction-container">
        <h1> Ragnaroster </h1>
        <p> Create and easily maintain your WoW raid team.</p>
    </div>
    <div class = "content-containter">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget iaculis urna. Morbi bibendum porttitor sollicitudin. Nullam nunc arcu, fermentum porttitor elit ut, aliquam tempus ante. Suspendisse sit amet elit eros. Integer id orci arcu. Proin ac lacus justo. Donec sagittis metus vel purus sodales vestibulum.
Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur turpis sed urna aliquet blandit. Vivamus euismod tortor quis diam luctus sollicitudin. Maecenas pharetra malesuada imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vel feugiat nibh. Etiam ullamcorper elementum arcu, 
sed malesuada eros rutrum eu. Vestibulum sit amet justo rutrum, gravida erat ut, dignissim dui. Maecenas id dignissim turpis. Phasellus odio lorem, gravida non ornare at, ornare nec ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
<div class = "row">
    <div class = "column"> <p> something </p> </div>
    <div class = "column"> Something 2 </div>
    <div class = "column"> Something 3 </div>
</div>
</div>
{%endblock content%}